:root {
  --theme-main: #00B3D8;


  --body-bg: #23252C;
  --container-bg: #1A1B21;
  --social-bg: #161619;
  
  --container-text: #DCDCDC;

  --color-toggle-bg: #fff;

  --button-border: #fff;
  --button-color: var(--theme-main);



  --blessingPurple: #74569b;
  --blessingMint: #96fbc7;
  --blessingYellow: #f7ffae;
  --blessingPink: #ffb3cb;
  --blessingLavender: #d8bfd8;

}

@media (prefers-color-scheme:light) {
  :root {
    --container-bg: #F5F5F5; 
    --social-bg: #D5D4D8;

    --container-text: #4A4E74; 
    --container-text: #23252C;

    --color-toggle-bg: var(--theme-main);

    --button-border: #000;
    --button-color: var(--theme-main);
  }
}

.no-theme {
  display:block;
}
.blessing-theme-only {
  display:none;
}
.blessing-theme {
  --body-bg: var(--blessingPurple);
  --container-bg: var(--blessingLavender);
  --social-bg: var(--blessingMint);
  --button-color: var(--blessingMint);

  --container-text:var(--blessingPurple);
  --button-border:var(--blessingMint);

  --theme-main:var(--blessingMint);
  .blessing-theme-only {
    display:block;
  }
  .no-theme {
    display:none;
  }
}

/*
app styles
*/

body {
  background-color:var(--body-bg);
}

#root {
  width:100%;
}

.business-card {
  background-color:var(--container-bg);
  border-radius:25px;
  display:block;
  margin: 0 auto;
  max-width:320px;
  width:100%;
}

.header {
  position:relative;
}
.header-content {
  text-align:center;
  padding: 0 2em;
}

@media (prefers-color-scheme: dark) {
  button.color-toggle.dark-mode {
    display:none;
  }
}
@media (prefers-color-scheme: light) {
  button.color-toggle.light-mode {
    display:none;
  }
}

button.color-toggle {
  background: var(--color-toggle-bg);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  /* box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .0892857143em;
  line-height: 1.15;
  min-width: 40px;
  opacity:.5;
  outline: none;
  padding: 0 8px;
  position:absolute;
  right:-56px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top:30px;
  transition: .3s all ease-in-out;
  word-spacing: 0px;
  &:hover {
    opacity:.9;
  }
  & > img {
    max-width:40px;
  }
}
.tool-tip {
  position: relative;
  display: inline-block;
  .tool-tip-text {
    // visibility: hidden;
    opacity:0;

    width: 140px;
    background-color: var(--theme-main);
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-weight:bold;
    font-family:'Gabriela', sans-serif;
    font-size:1em;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    left: 10px;
    bottom: -45px;
    transition:.3s all ease-in-out;
  }
  &:hover .tool-tip-text {
    // visibility: visible;
    opacity:1;
    transition:.3s all ease-in-out;
  }
}

.card-content {
  padding: 1rem 2rem;
}
.text-link{
  color: #00B3D8;
  color:var(--theme-main);
  font-family: 'Gabriela', serif;
}
.card-button {
  margin: 15px 0;
  display:flex;
  justify-content: space-evenly;
  // & > button {
  
}
.link-button {
  align-items: center;
  background: 0 0;
  border-radius: 4px;
  border: 1px solid var(--button-border);
  color: var(--container-text);
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-family: 'Crimson Text', serif;
  font-size: 16px;
  gap: 8px;
  grid-gap: 8px;
  justify-content: center;
  line-height: 1.5;
  outline: 0;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all .14s ease-out;
  white-space: nowrap;
  width:100%;
  &:hover {
    color:var(--button-color);
    box-shadow: 4px 4px 0 var(--button-color);
    border-color:var(--button-color);
    transform: translate(-4px,-4px);
  }
  &:focus-visible{
    outline-offset: 1px;
  }
}

.header-content > h1,
.card-blurb > h4 {
  font-family: 'Gabriela', serif;
  margin-bottom:.5em;
  color:var(--container-text);
}
.header-content > h3,
.card-blurb > p {
  font-family: 'Crimson Text', serif;
  color:var(--container-text);
}
.header > img {
  max-width:100%;
}

.card-blurb {
  padding: 15px 0;
  text-align:left;
}

.footer {
  background-color:var(--social-bg);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 20px 0;
  text-align:center;
  & > ul {
    align-items:center;
    display:flex;
    gap:20px;
    justify-content: center;
    list-style-type:none;
    margin:0;
    padding:0;
  }
}

.attribution {
  font-size:9px;
  text-transform: lowercase;
  & > a {
    color:grey;
  }
}